@import url("//at.alicdn.com/t/c/font_3651087_rs5xtis5m9.css");
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 3651087 */
  src: url("//at.alicdn.com/t/c/font_3651087_rs5xtis5m9.woff2?t=1666784688431")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3651087_rs5xtis5m9.woff?t=1666784688431")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3651087_rs5xtis5m9.ttf?t=1666784688431")
      format("truetype");
}
.iconfont {
  cursor: pointer;
}
:root {
  /* 我自己的配色 */
  --header-font-color: #d7ebf0;
  --sidebar-hover: #f6f6f7;
  --sidebar-color: #373737;
  --sidebar-title: #c3c3c3;
  --white: #ffffff;
  --border-color: #e0e0e0;
  /*  */
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
