@import url("//at.alicdn.com/t/c/font_3651087_wxf7aa46.css");
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 3651087 */
  src: url("//at.alicdn.com/t/c/font_3651087_wxf7aa46.woff2?t=1664622183750")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3651087_wxf7aa46.woff?t=1664622183750")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3651087_wxf7aa46.ttf?t=1664622183750")
      format("truetype");
}
.iconfont {
  cursor: pointer;
}
:root {
  --header-font-color: #d7ebf0;
  --sidebar-hover: #f6f6f7;
  --sidebar-color: #373737;
  --sidebar-title: #c3c3c3;
}
/* container 容器类的全局样式 */
.ctn-mode {
  padding: 22px 32px 0px 32px;
  background-color: #fff;
  width: 84%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent; /*滚动条的背景颜色*/
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px; /*滚动条圆角*/
    -webkit-border-radius: 3px; /*兼容圆角属性*/
    background-color: #c3c3c3; /*滚动条颜色*/
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  }
}
/* ul的样式 */
.ul-mode {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
/* 全局 li mode1 */
.a-mode1 {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}
// play的出现
.play-hover {
  &:hover .play-mode {
    opacity: 1;
    transition: all 0.8s ease;
  }
}
/* 其他全局样式 */

// 全局：出现在图片上的播放圆圈
.play-mode {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #f2f3f5;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
  padding-left: 4px;
  line-height: 34px;
  font-size: 24px;
  opacity: 1;
}
// 全局：图片右上角的播放次数

.num-mode,
.time-mode {
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  right: 10px;
}
.num-mode {
  top: 2px;
}
.time-mode {
  bottom: 2px;
}
// 全局：导航的样式
.nav-mode {
  margin-bottom: 20px;
  ul {
    display: flex;

    li {
      margin-right: 20px;

      a {
        font-size: 15px;
        padding-bottom: 1px;
        &.router-link-active {
          font-size: 17px;
          font-weight: 700;
          border-bottom: 2px solid #38b2ae;
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
}
